html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div.clear {
  clear: both;
  line-height: 0;
  height: 0;
  font-size: 0;
  border: 0;
  margin: 0;
  padding: 0; }

img, video {
  display: block; }

i, em {
  font-style: italic; }

*, *:before, *:after {
  box-sizing: border-box; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important;}

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
.projects li, .projects li a {
  *zoom: 1; 
padding-bottom: 8px;
font-size: 85%;}
  .projects li:before, .projects li a:before, .projects li:after, .projects li a:after {
    content: " ";
    display: table; }
  .projects li:after, .projects li a:after {
    clear: both; }

.media-check {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  top: -1000px;
  left: -1000px;
  text-indent: 30px; }
  @media (max-width: 760px) {
    .media-check {
      text-indent: 10px; } }
  @media (min-width: 1600px) {
    .media-check {
      text-indent: 40px; } }

@-moz-keyframes pageFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes pageFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes pageFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes pageFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #111;
  font-family: 'Montserrat', Helvetica Neu, sans-serif;
  font-size: 2vw;
  line-height: 1.45em;
  -moz-animation: pageFadeIn 600ms;
  -ms-animation: pageFadeIn 600ms;
  -webkit-animation: pageFadeIn 600ms;
  animation: pageFadeIn 600ms; }
  @media (min-width: 1600px) {
    body {
      font-family:'Montserrat', Helvetica Neu, sans-serif;
      font-size: 32px;
      line-height: 1.45em; } }
  @media (max-width: 760px) {
    body {
      font-family: 'Montserrat', Helvetica Neu, sans-serif;
      font-size: 4.2vw;
      line-height: 1.5em; } }

a {
  color: #111;
  border: 0;
  text-decoration: none; }

a:hover {
  color: #ffae42;
  border: 0;
  text-decoration: none; }

::selection {
  background: #eee;
  color: #111;
  text-shadow: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

.container {
  padding: 7.5vw;
padding-top: 2.5vw;}
  @media (min-width: 1600px) {
    .container {
      padding: 126px; } }
  @media (max-width: 760px) {
    .container {
      padding: 7.5vw 5vw; } }

section {
  margin-bottom: 5vw;
  clear: both; }


.logo{
    width: 30%;
    float: left;
    padding-bottom: 3.5vw;
}

@media (max-width: 760px) {
    img {
      width: 75%;} 
}




.menu{
 
    width: 60%;
    text-align: left;
    float: left;
    font-size: 50%;
    
}

.menu a{
    padding-right: 20px;
}

/*.menu a:hover {
  color: #ffae42; */
}

.big {
  font-family: 'Montserrat', Helvetica Neu, sans-serif;
  font-size: 2.5vw;
  line-height: 1.25em; }
  @media (min-width: 1600px) {
    .big {
      font-family: 'Montserrat', Helvetica Neu, sans-serif;
      font-size: 40px;
      line-height: 1.25em; } }
  @media (max-width: 760px) {
    .big {
      font-family: 'Montserrat', Helvetica Neu, sans-serif;
      font-size: 6vw;
      line-height: 1.4em; } }

.big p,
.big h3 {
  color: orange;
    width: 55%; }
  @media (min-width: 1600px) {
    .big p,
    .big h3 {
      width: 748px; } }
  @media (max-width: 760px) {
    .big p,
    .big h3 {
      width: auto; } }

.head p {
  color: #111 !important;
background: lightgrey;
padding: 5px;}

h3 + p,
h3 + ul,
p + p {
  margin-top: 0.725em; }

.project + .project {
  margin-top: 5vw; }
  @media (min-width: 1600px) {
    .project + .project {
      margin-top: 84px; } }
  @media (max-width: 760px) {
    .project + .project {
      margin-top: 7.5vw; } }

.big a {
  position: relative; }

.summary {
  display: block;
  clear: both;
  font-family: 'Montserrat', Helvetica Neu, sans-serif;
  font-size: 2vw;
  line-height: 1.25em;
  color: #777777;
  margin-bottom: 2.5vw;
  width: 90%; }

.site-title,
.strike {
  position: relative; }

.site-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  background: #0d2fed;
  border-radius: 10px; }
  @media (max-width: 760px) {
    .site-title:after {
      height: 2px; } }
  @media (min-width: 1600px) {
    .site-title:after {
      height: 5px; } }

.strike:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0%;
  height: 3px;
  background: #33f;
  border-radius: 10px;
  -moz-animation: changeWidth 1600ms forwards;
  -ms-animation: changeWidth 1600ms forwards;
  -webkit-animation: changeWidth 1600ms forwards;
  animation: changeWidth 1600ms forwards; }
  @media (max-width: 760px) {
    .strike:after {
      height: 2px; } }
  @media (min-width: 1600px) {
    .strike:after {
      height: 5px; } }

@-moz-keyframes changeWidth {
  0% {
    width: 0; }

  100% {
    width: 100%; } }
@-ms-keyframes changeWidth {
  0% {
    width: 0; }

  100% {
    width: 100%; } }
@-webkit-keyframes changeWidth {
  0% {
    width: 0; }

  100% {
    width: 100%; } }
@keyframes changeWidth {
  0% {
    width: 0; }

  100% {
    width: 100%; } }
.down {
  position: absolute;
  left: 50%;
  top: 80%;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: green; }

/*.big a:hover {
  color: #ffae42; }

.big a:hover:after {
  background: #ffae42; }*/

.big p {
  color: #777777; 
}

.big p a {
  color: #777777;
font-size: 80%;}

.big p a:after {
  display: none; }

.big p a:hover {
  color: #ffae42; }

.big p a:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  background: #111;
  border-radius: 10px; }
  @media (max-width: 760px) {
    .big p a:hover:after {
      height: 2px; } }


.small {
  width: 60%; }
  @media (min-width: 1600px) {
    .small {
      width: 816px; } }
  @media (max-width: 760px) {
    .small {
      width: auto; } }

.small .project p {
  color: #777777; }

.small a {
  position: relative;}

.small a:after {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 0;
  left: 0;
  height: 2px;
  background: #aaaaaa;
  z-index: -1;
  border-radius: 10px; }

h3 a {
  white-space: nowrap; }

.projects li {
color: grey;
    font-size: 80%;
display: block;
  clear: both;
  width: 55%; }
  @media (max-width: 760px) {
    .projects li {
      width: auto; } }

.projects li a, .projects li.inactive {
  display: block;
  color: #777777; }

.projects li a:after {
  content: '';
  display: none; }

.projects li a:hover {
  color: #ffae42; }

.projects li a {
  width: 100%;
  height: 100%;
  display: block; }

.title {
  display: block;
  float: left; }

.date {
  display: block;
  margin-top: 5vw; }

.first.date {
  margin-top: 0; }


.marker {
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 5vw;
  background: #FFF000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media (max-width: 760px) {
    .marker {
      width: 5vw;
      height: 5vw; } }
  @media (min-width: 1600px) {
    .marker {
      width: 40px;
      height: 40px; } }


}
